APP_IMAGE=laravel-app-starter-kit:latest
APP_KEY=
APP_NAME="Laravel Starter"
APP_URL=https://vm-name.exe.xyz
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Laravel Starter"
MAIL_MAILER=log
POSTGRES_DB=laravel
POSTGRES_PASSWORD=
POSTGRES_USER=laravel
